:root {
  --green-cthulhu: #879f85;
  --green-deepone: #c6cbc2;
  --green-gul: #d7d7d7;
  --green-dark: #5d6e5b;
  --black-color: #000;
  --white-color: #fff;
  --padding: 55px;
}

@font-face {
  font-family: 'Jolly Lodger';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/JollyLodger-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Oswald-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src:
    url(./fonts/OpenSans-VariableFont_wdth,wght.ttf) format('truetype') tech(variations);
  font-weight: 100 900;
  font-stretch: 50% 200%;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url(./fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf) format('truetype') tech(variations);
  font-weight: 100 900;
  font-stretch: 50% 200%;
  font-style: italic;
}

@font-face {
  font-family: 'MedievalSharp';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/MedievalSharp-Regular.ttf) format('truetype');
}

html {
  scroll-behavior: smooth;
}

a,
a:visited,
a:active {
  color: var(--black-color);
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  color: var(--black-color);
  font-weight: 400;
  font-family: 'Open Sans', arial;
  /*background-color: var(--green-deepone);*/
}

section > p,
section > ul,
section > blockquote,
section > h2,
section > h3,
section > h4,
section > h5,
section > ol,
section > ul,
section > div,
section > a {
  display: block;
  padding: 0 0 calc((var(--padding) * 0.4) / 2) 0;
  margin: 0 var(--padding) ;
}

blockquote {
  border: 1px solid var(--green-dark);
  padding: 10px;
  background-color: var(--green-gul);
  margin: 0px;
}

blockquote p {
  padding: 0px;
  margin: 0px;
}

blockquote > p + p {
  padding-top: 10px;
}

/* --------------- Titles ------------------ */

h1 {
  font-size: 4em;
  font-family: 'Jolly Lodger', Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
  font-weight: 400;
  padding: 0 30px;
}

h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  clear: both;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1em;
}

h1:not(section:first-of-type h1, section:nth-of-type(2) h1, section:last-of-type h1) {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  margin: 0px -15px;
  position: relative;
  z-index: 5;
}


body>section:nth-of-type(4) h1 {
  background: #000000 url(../images/caribe.webp) center bottom no-repeat;
  background-size: cover;
}

body>section:nth-of-type(5) h1 {
  background: #000000 url(../images/ambientacion.webp) center center no-repeat;
  background-size: cover;
}

body>section:nth-of-type(6) h1 {
  background: #000000 url(../images/guia.webp) center center no-repeat;
  background-size: cover;
}

body>section:nth-of-type(7) h1 {
  background: #000000 url(../images/historias.webp) left center no-repeat;
  background-size: cover;
}

body>section:nth-of-type(8) h1 {
  background: #000000 url(../images/monstruos.webp) center center no-repeat;
  background-size: cover;
}

body>section:nth-of-type(9) h1 {
  background: #000000 url(../images/faro.webp) center center no-repeat;
  background-size: cover;
}

body>section:nth-of-type(10) h1 {
  background: #000000 url(../images/aventuras.webp) center center no-repeat;
  background-size: cover;
}

body>section:nth-of-type(11) h1 {
  background: #000000 url(../images/epilogo.webp) center center no-repeat;
  background-size: cover;
}

body>section:nth-of-type(12) h1 {
  background: #000000 url(../images/recursos.webp) center center no-repeat;
  background-size: cover;
}

/* ----------- Letras capitulares ----------- */

h2 + div.columns > p:first-of-type:first-letter {
  font-family: 'MedievalSharp', cursive;
  font-size: 2.9em;
  display: block;
  float: left;
  margin: 3px 10px 0px 0px;
  padding: 5px 10px 0px;
  border: 1px solid #000;
  color: #000;
  min-height: 64px;
  --s: 15px;   
  background:
    linear-gradient(135deg,#0000 18.75%,var(--green-cthulhu) 0 31.25%,#0000 0),
    repeating-linear-gradient(45deg,var(--green-cthulhu) -6.25% 6.25%, var(--green-gul) 0 18.75%);
  background-size: var(--s) var(--s); 
}

/* ----------- Tablas ---------------- */

table {
  margin: 15px auto;
}

table thead tr th {
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  font-weight: 400;
}

table tbody tr>* {
  padding: 5px;
}

table thead {
  background-color: var(--green-cthulhu);
}

table tbody tr>* {
  transition: all 0.6s;
}

table tbody tr:nth-child(even) {
  background-color: var(--green-gul);
}

table tbody tr:nth-child(odd) {
  background-color: var(--green-deepone);
}

/* ------------ Listas ------------------- */
ul li:not(ul li ul li, ul.libro li) {
  list-style-type: none;
  position: relative;
  min-height: 33px;
  padding-bottom: 5px;
}

ul li:not(ul li ul li, ul.libro li):before,
ul li:not(ul li ul li, ul.libro li):after {
  content: "";
  top: -2px;
  left: -30px;
  --size: 1em;
  height: calc(var(--size) * 1.1);
  width: var(--size);
  appearance: none;
  outline: none;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgb(191 189 189) 0%, rgb(66 65 65) 60%);
  cursor: pointer;
  position: relative;
  display: block;
  position: absolute;
  clip-path: polygon(50% 0%, 50% 50%, 45% 65%, 55% 65%, 50% 50%, 50% 0%, 87% 15%, 100% 50%, 75% 72%, 66% 96%, 60% 70%, 50% 100%, 40% 70%, 34% 96%, 25% 72%, 0 50%, 11% 17%);
}

ul li:not(ul li ul li, ul.libro li):after {
  top: 14px;
  clip-path: polygon(13% 18%, 0 29%, 30% 50%, 0 68%, 15% 83%, 51% 59%, 80% 85%, 100% 66%, 70% 50%, 99% 27%, 83% 16%, 51% 42%);
}

ul.libro {
  border: 1px solid var(--black-color);
  background-color: var(--green-dark);
  background: linear-gradient(142deg, var(--green-dark) 0%, var(--green-dark) 57%, var(--green-cthulhu) 100%);
  color: var(--white-color);
  margin: 0px;
  padding: 10px;
}

ul.libro li {
  list-style-type: none;
  margin: 0 0 5px 0;
  padding: 0;
}

ul ul {
  padding-left: 24px;
}

/* ----------- imagenes ---------------*/

img:not(section:first-of-type img, section:nth-of-type(2) img, section:last-of-type img) {
  width: 100%;
  max-height: 1000px;
}



/* ------------- Paginación -------------------- */
@counter-style style {
  system: numeric;
}

body {
  counter-reset: primary 1;
}

.saltopagina {
  position: relative;
  counter-increment: primary 1; /* Increment the value of section counter by 1 */
}

.saltopagina:after {
  --size: 30px;
  font-family: 'Jolly Lodger', arial;
  display: flex;
  justify-content: center;
  align-items: center;
  content: counters(primary, "-", style);
  color: var(--white-color);
  position: absolute;
  bottom: 11px;
  left: 10px;
  width: var(--size);
  height: var(--size);
  background-color: var(--green-dark);
  z-index: 10;
  opacity: 1;
  clip-path: polygon(0% 0%, 66% 0%, 100% 33%, 100% 100%, 0% 100%);
}

section h1 + .saltopagina:after {
  opacity: 0;
}

.saltopagina.even:after {
  left: auto;
  right: 10px;
  clip-path: polygon(33% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 33%);
}


/* ----------- Indice -------------------- */
.likeH1,
.likeH2 {
  display: block;
  cursor: pointer;
  margin: 0 0 1px 0;
  text-decoration: none;
  font-size: 0.6em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.likeH1 {
  font-size: 0.7em;
}

.likeH2 {
  padding: 0 0 0 15px;
}

.likeH1 span,
.likeH2 span {
  display: none;
  float: right;
  margin-right: 5px;
}

.columns > *:first-child:not(p.seed),
.saltocolumna + *,
.saltocolumna + blockquote > p {
  margin-top: 0;
  padding-top: 0;
}


/* Media Query */

@media print {
  .columns {
    columns: 2;
  }
  
  .saltocolumna {
    break-before: column;
    height: 0px;
    padding: 0;
    margin: 0;
  }

  @page {
    size: A4;
    margin: 0;
  }

  table {
    width: 100%;
  }

  .saltopagina {
    display: block;
    page-break-before: always;
    height: 1px;
    padding: 0;
    margin: 0px;
    opacity: 1; 
    position: relative;
  }

  section .saltopagina + * {
    margin-top: var(--padding);
  }

  .likeH1 span,
  .likeH2 span {
    display: inline-block;
  }

  .nopdf {
    display: none !important;
  }

  section:nth-of-type(2),
  section:nth-of-type(3) {
    padding-top: var(--padding);
  }

  /* ---------- Margenes -------------- */
  section:not(section:first-of-type, section:nth-of-type(2), section:last-of-type ) .saltopagina:before {
    display: block;
    font-family: 'MedievalSharp';
    word-wrap: break-word;
    width: calc(var(--padding) - 10px);
    position: absolute;
    z-index: 1;
    left: 0px;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% calc(100% - var(--padding)),
      0% 100%
    );
    box-sizing: border-box;
    padding: 12px;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
  }

  section:not(section:first-of-type, section:nth-of-type(2), section:last-of-type ) .saltopagina.even:before {
    left: auto;
    right: 0px;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 100%,
      0% calc(100% - var(--padding))      
    );
  }

  section:nth-of-type(4) .saltopagina:before { /* OK */
    height: 62vh;
    bottom: calc(38vh + 2px);
    content: "E \A l \A \A C \A a \A r \A i \A b \A e \A \A d \A e \A \A l \A o \A s \A \A M \A i \A t \A o \A s ";
    white-space: pre;
    background-color: var(--green-cthulhu);
  }

  section:nth-of-type(5) .saltopagina:before {
    height: 61.5vh;
    bottom: calc(38.5vh + 2px);
    content: "R \A e \A g \A l \A a \A s \A \A d \A e \A \A a \A m \A b \A i \A e \A n \A t \A a \A c \A i \A ó \A n ";
    white-space: pre;
    background-color: var(--green-deepone);
  }

  section:nth-of-type(6) .saltopagina:before {
    height: 42vh;
    bottom: calc(58vh + 2px);
    content: "G \A u \A í \A a \A \A d \A e \A \A v \A i \A a \A j \A e \A s ";
    white-space: pre;
    background-color: var(--green-dark);
  }

  section:nth-of-type(7) .saltopagina:before {
    height: 52vh;
    bottom: calc(48vh + 2px);
    content: "H \A i \A s \A t \A o \A r \A i \A a \A s \A \A S \A a \A l \A v \A a \A j \A e \A s ";
    white-space: pre;
    background-color: var(--green-gul);
  }

  section:nth-of-type(8) .saltopagina:before {
    height: 62vh;
    bottom: calc(38vh + 2px);
    content: "M \A o \A n \A s \A t \A r \A u \A o \A s \A \A d \A e \A \A l \A o \A s \A \A M \A i \A t \A o \A s ";
    white-space: pre;
    background-color: var(--green-cthulhu);
  }

  section:nth-of-type(9) .saltopagina:before {
    height: 75vh;
    bottom: calc(25vh + 2px);
    content: "Q \A u \A i \A é \A n \A \A e \A s \A \A q \A u \A i \A é \A n \A \A e \A n \A \A e \A l \A \A C \A a \A r \A i \A b \A e ";
    white-space: pre;
    background-color: var(--green-deepone);
  }

  section:nth-of-type(10) .saltopagina:before {
    height: 75vh;
    bottom: calc(25vh + 2px);
    content: "D \A a \A n \A d \A o \A \A c \A o \A l \A o \A r \A \A a \A \A l \A a \A s \A \A a \A v \A e \A n \A t \A u \A r \A a \A s ";
    white-space: pre;
    background-color: var(--green-dark);
  }

  section:nth-of-type(11) .saltopagina:before {
    height: 24vh;
    bottom: calc(76vh + 2px);
    content: "E \A p \A í \A l \A o \A g \A o ";
    white-space: pre;
    background-color: var(--green-gul);
  }

  section:nth-of-type(12) .saltopagina:before {
    height: 60vh;
    bottom: calc(40vh + 2px);
    content: "R \A e \A c \A u \A r \A s \A o \A s \A \A p \A a \A r \A a \A \A p \A i \A r \A a \A t \A a \A s ";
    white-space: pre;
    background-color: var(--green-cthulhu);
  }
}


/* ---------- Lazos ----------- */

section:not(section:first-of-type, section:nth-of-type(2), section:last-of-type) > h2 {
  --bgcolor1: #b5c1ac;
  --bgcolor2: #879f85;
  --bgcolor3: #0f6800;
  --ribbon-size: 80px;
  margin-top: var(--padding);
  --innerpadding: 15px;
  background-color: var(--bgcolor1);
  color: #fff;
  padding: var(--innerpadding);
  position: relative;
  margin-left: calc(var(--ribbon-size) * 2);
  margin-right: calc(var(--ribbon-size) * 2);
  margin-bottom: calc(30px + var(--innerpadding));
  text-align: center;
  font-size: 1.3em;
  line-height: 120%;
}

section > h2:before {
  content: "";

  height: 100%;
  box-sizing: border-box;
  width: calc(100% + var(--ribbon-size));
  background-color: var(--bgcolor2);
  background: linear-gradient(
    90deg,
    var(--bgcolor2) calc((var(--ribbon-size) / 2) + var(--innerpadding)),
    var(--bgcolor3) calc((var(--ribbon-size) / 2) + var(--innerpadding)),
    var(--bgcolor3) calc(100% - (var(--ribbon-size) / 2) - var(--innerpadding)),
    var(--bgcolor2) calc(100% - (var(--ribbon-size) / 2) - var(--innerpadding))
  );

  position: absolute;
  left: calc(var(--ribbon-size) / -2);
  top: var(--innerpadding);
  clip-path: polygon(
    0% 0%,
    calc(var(--ribbon-size) / 2) 0%,
    calc(var(--ribbon-size) / 2) calc(100% - var(--innerpadding)),
    calc(100% - (var(--ribbon-size) / 2)) calc(100% - var(--innerpadding)),
    calc(100% - (var(--ribbon-size) / 2)) 0%,
    100% 0%,
    calc(100% - (var(--innerpadding) * 2)) 50%,
    100% 100%,
    calc(100% - (var(--ribbon-size) / 2) - var(--innerpadding)) 100%,
    calc(100% - (var(--ribbon-size) / 2) - var(--innerpadding))
    calc(100% - var(--innerpadding)),
    calc((var(--ribbon-size) / 2) + var(--innerpadding)) calc(100% - var(--innerpadding)),
    calc((var(--ribbon-size) / 2) + var(--innerpadding)) 100%,
    0% 100%,
    calc(var(--innerpadding) * 2) 50%
  );
}

section > h2:after {
  
  content: "";
  position: absolute;
  background-color: var(--bgcolor3);
  width: 100%;
  bottom: calc(var(--innerpadding) * -1);
  left: 0px;
  height: var(--innerpadding);
  clip-path: polygon(
    0% 0%,
    100% 0%,
    calc(100% - var(--innerpadding)) 100%,
    calc(100% - var(--innerpadding)) 0%,
    var(--innerpadding) 0%,
    var(--innerpadding) 100%
  );
}

/* ----------------- Portada --------------- */

section:first-of-type {
  --barheight: 230px;
  background: var(--green-dark) url(../images/portada.webp) top center no-repeat;
  background-size: auto calc(100% - var(--barheight));
  color: var(--white-color);
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

section:first-of-type > * {
  position: relative;
  z-index: 10;
}

section:first-of-type:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: calc(var(--barheight) + 100px);
  clip-path: polygon(
    0% 0%,
    100% 100px,
    100% 100%,
    0% 100%
  );
  background: #1e271d url(../images/madera.png) top center no-repeat;
  background-size: 120% auto;
}

section:first-of-type .saltopagina {
  display: none;
}

section:first-of-type > * {
  text-shadow: 0px 0px 5px #000;
}

section:first-of-type > h2,
section:first-of-type > h3 {
  margin: 0 100px 0 40px;
}

section:first-of-type > h2 {
  margin-bottom: 40px;
  max-width: 490px;
  line-height: 120%;
}

section:first-of-type > img {
  width:100px;
  height:auto;
  position: absolute;
  right: 40px;
  bottom: 40px;
}

/* ----------------- Contraportada --------------- */

section:last-of-type {
  --barheight: 560px;
  height: 100vh;
  display: flex;
  background: var(--green-dark) url(../images/contraportada.webp) top center no-repeat;
  background-size: auto calc(100% - var(--barheight));
  position: relative;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

section:last-of-type > * {
  position: relative;
  z-index: 10;
  text-shadow: 0px 0px 5px #000;
}

section:last-of-type > p {
  margin: 0 0 0 40px;
}

section:last-of-type > p > a {
  color: var(--color-white);
}

section:last-of-type > p:first-of-type {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}

section:last-of-type > p:nth-of-type(2) {
  font-family: "Jolly Lodger", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2.5em;
}

section:last-of-type > p:last-of-type {
  margin-bottom: 40px;
}

section:last-of-type > ol {
  margin-left: 65px;
  margin-bottom: 40px;
}

section:last-of-type > ol > li:not(li:last-of-type) {
  margin-bottom: 8px;
}

section:last-of-type:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: calc(var(--barheight) + 100px);
  clip-path: polygon(
    0% 0%,
    100% 100px,
    100% 100%,
    0% 100%
  );
  background-color: var(--green-dark);
}

section:last-of-type > p:has(img) {
  position: absolute;
  right: 35px;
  top: 35px;
}

section:last-of-type > p > img {
  width: 120px;
  height: auto;
}

